html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
	
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		font-size: 2em;
	}
	.banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
		padding: 3em 0;
	}

	
	/*-- new-collections --*/
	.new-collections h3,h3.title,.mail h3,.single-related-products h3,.login h3,.register h3{
		text-align: center;
	    color:#222;
	    margin: 0;
	    position: relative;
	    font-size: 3em;
	}
	.new-collections h3:before,.new-collections h3:after,h3.title:before,h3.title:after,.mail h3:before,.mail h3:after,.single-related-products h3:before,.single-related-products h3:after,.login h3:before,.login h3:after,.register h3:before,.register h3:after{
		position: absolute;
	    top: 50%;
	    width: 15%;
	    height: 1px;
	    background: #D5D5D5;
	    content: '';
	}
	.new-collections h3:before,.single-related-products h3:before{
		left:17%;
	}
	h3.title:before,.login h3:before{
		left:22%;
	}
	.new-collections h3:after,.single-related-products h3:after{
		right:17%;
	}
	h3.title::after,.login h3:after{
		right:22%;
	}
	body{
		overflow-x:hidden ;
	}
	
	
	
	